# deployctl example config
concurrency: 5
timeout: 30s

logging:
  file: "deployctl.log"
  level: "info" # info, debug, trace

defaults:
  user: root
  port: 22
  # password: "your-password"
  password_env: "SSHPASS"
  key: "~/.ssh/deployctl_id_rsa"

trust:
  managed_key: "~/.ssh/deployctl_id_rsa"

deploy:
  src_dir: "local-package"
  remote_dir: "/opt"
  command: "cd /opt/local-package && chmod +x install.sh && ./install.sh"
  mode: hidden # hidden or visible

hosts:
  - host: 192.168.1.10
  - host: 192.168.1.11
  - host: 192.168.1.12

# Different host examples:
#  - host: 192.168.1.13
#    port: 2222
#    password: "different-password"
#
#  - host: 192.168.1.14
#    user: admin
#    password_env: "HOST_14_PASS"
#
#  - host: 192.168.1.15
#    key: "~/.ssh/custom_id_rsa"
